.idea/*
!.idea/runConfigurations/
*.iml
*.ipr
*.iws
/bin/
/.settings/
/.gradle/
/1.12.2-Forge/build/
/PluginExample/build/
/PluginExample/.gradle/
/1.12.2-Forge/.gradle/
/1.12.2-Forge/build/taskLogs/
